body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.container {
  text-align: center;
  background-color: #2929296c;
  padding: 1pc;
  border-radius: 1pc;
  box-shadow: 0 0 9pc #ff7300;
  width: 600px;
  height: 400px;
}

h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.input-section {
  margin-bottom: 20px;
}

select,
input {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
}

select:focus,
input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 10px #0000008f;
}

.conversion-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  margin: 15px 0;
  font-size: 2pc;
}

#result {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 500px) {
  .container {
    width: 80%;
  }
}